*{
    margin: 0;
    padding: 0;
}

body{
    padding: 4% 10%;
}

.title{
    margin: 20px;
}

.content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;
}   

.content h1{
    font-size: 40px;
}

.content h2 span{
    font-style: italic;
    color: blue;
}

.content p{
    font-size: 20px;
}

.content p span{
    font-weight: 600;
    color: blue;
}

.content ul li{
    font-size: 20px;
}